{% extends 'base.html' %}
{% block content %}

    <main>
        {% if not fruits %}
            <h2>No fruit info yet.</h2>
        {% else %}
            <h2>Fruits</h2>
        {% endif %}

        <section id="dashboard">
            {% for fruit in fruits %}

                <div class="fruit">
                    <img src="{{ fruit.image_url }}" alt="fruit image"/>
                    <h3 class="title">{{ fruit.name }}</h3>
                    <p class="description">{{ fruit.description|truncatechars:50 }}</p>
                    <a class="details-btn" href="{% url 'details-fruit' pk=fruit.pk %}">More Info</a>
                </div>

            {% endfor %}
        </section>
    </main>

{% endblock %}
