{% extends 'base.html' %}
{% block content %}

    <main>

        <h2>Fruits</h2>
        {% if not fruits %}
            <h2>No fruit info yet.</h2>
        {% endif %}

        <section id="dashboard">
            <!-- Display a div "fruit" with information about each post (if any)-->

            <!-- first fruit -->
            <div class="fruit">
                <!-- fruit image -->
                <img src="/static/images/fruit 1.png" alt="example1"/>
                <!-- fruit name -->
                <h3 class="title">Pineapple</h3>
                <!-- fruit description -->
                <p class="description">The pineapple is a tropical plant with an edible f...</p>
                <!-- fruit details button -->
                <a class="details-btn" href="#">More Info</a>
            </div>


        </section>


    </main>

{% endblock %}
