{% extends 'base.html' %}
{% block content %}

    <main>
        <!-- Add Fruit Form -->
        <section id="create">
            <div class="form">
                <h2>Add Fruit</h2>
                <form class="create-form">
                    <input
                            type="text"
                            name="name"
                            id="name"
                            placeholder="Fruit Name"
                    />
                    <input
                            type="text"
                            name="imageUrl"
                            id="Fruit-image"
                            placeholder="Fruit Image URL"
                    />
                    <textarea
                            id="fruit-description"
                            name="description"
                            placeholder="Fruit Description"
                            rows="10"
                            cols="50"
                    ></textarea>
                    <textarea
                            id="fruit-nutrition"
                            name="nutrition"
                            placeholder="Nutrition Info"
                            rows="10"
                            cols="50"
                    ></textarea>
                    <button type="submit">Add Fruit</button>
                </form>
            </div>
        </section>
    </main>

{% endblock %}
