{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Edit Fruit Form -->
        <section id="edit">
            <div class="form">
                <h2>Edit Fruit</h2>
                <form class="edit-form">
                    <label for="name">Name:</label>
                    <input
                            type="text"
                            name="name"
                            id="name"
                            value="Pineapple"
                    />
                    <label for="Fruit-image">Image URL:</label>
                    <input
                            type="url"
                            name="imageUrl"
                            id="Fruit-image"
                            value="https://some-pineapple-fruit-image.jpeg"
                    />
                    <label for="fruit-description">Description:</label>
                    <textarea
                            id="fruit-description"
                            name="description"
                            rows="10"
                            cols="50"
                    >The pineapple is a tropical plant with an edible fruit. It is the most economically significant plant in the family Bromeliaceae. The pineapple is indigenous to South America. Pineapples grow as a small shrub, the individual flowers of the unpollinated plant fuse to form a multiple fruit. The plant is normally propagated from the offset produced at the top of the fruit, or from a side shoot, and typically matures within a year.</textarea>
                    <label for="fruit-nutrition">Nutrition:</label>
                    <textarea
                            id="fruit-nutrition"
                            name="nutrition"
                            rows="10"
                            cols="50"
                    >Raw pineapple pulp is 86% water, 13% carbohydrates, 0.5% protein, and contains negligible fat (table). In a 100-gram reference amount, raw pineapple supplies 209 kilojoules (50 kilocalories) of food energy, and is a rich source of manganese (44% Daily Value, DV) and vitamin C (58% DV), but otherwise contains no micronutrients in significant amounts.</textarea>

                    <button type="submit">Edit</button>
                </form>
            </div>
        </section>

    </main>

{% endblock %}